{
  "extends": [
    "prettier",
    "prettier/standard"
   ],
   "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": true,
    "prompt": true,
    "expect": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
